<div class="deck">
    <h1>Card Game </h1>
  
    
      <div class="row" id="deck" style="display: flex;">
        <div class="col-md-2" style="padding: 10px;">
          <label  for="noOfCards">No of Cards:</label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" name="noOfCards" [(ngModel)]="noOfCards" required>
        </div>
      </div>
      <div>
        <a (click)="shuffle()" class="btn"><span class="fas fa-random fa-fw"></span> Shuffle</a>
        <a (click)="sortCards()" class="btn"><span class="fas fa-random fa-fw"></span> Sort Cards</a>
      </div>
      <div class="deck" style="display: flex;justify-content: center;">
        <div *ngFor="let card of cards">
          <app-card title={{card}}></app-card>
        </div>
      </div>
     
      
  </div>