<div class="deck">
    <h1>Card Deck </h1>
  
    
      <div id="deck" style="display: flex;">
          <label style="width: 20%;" for="type">No of Cards</label>
          <input type="text" class="form-control" name="noOfCards" [(ngModel)]="noOfCards" required>
      </div>
      <div>
        <a (click)="shuffle()" class="btn"><span class="fas fa-random fa-fw"></span> Shuffle</a>
        <a (click)="sortCards()" class="btn"><span class="fas fa-random fa-fw"></span> Sort Cards</a>
      </div>
      <div class="deck" style="display: flex;justify-content: center;">
        <div *ngFor="let card of cards">
          <app-card title={{card}}></app-card>
        </div>
      </div>
     
      
  </div>