<div class="deck">
    <h1>Card Deck in JavaScript</h1>
    
    <p class='description'>
   For the full walkthrough implementation, check out the complete blog post at <a href='https://www.thatsoftwaredude.com/content/6196/coding-a-card-deck-in-javascript' target='_blank'>thatsoftwaredude.com</a>.
    </p>
    
    <div>
    <a href="javascript:void(0)" onclick="shuffle()" class="btn"><span class="fas fa-random fa-fw"></span> Shuffle</a>
    </div>
      <div id="deck">
          
      </div>
  </div>